<h1>Address Book</h1>
<form action="/contacts" method="post">
  <label for="new-contact">Contact description</label>
  <input id="new-contact" name="new-contact" type="text">
  <button type="Submit"</button>
</form>
