<h1>Address Book</h1>
<form action="/contacts" method="post">

  <label for="new-contact">Name</label>
  <input id="new-contact" name="new-contact" type="text">

  <label for="new-contact-phone">Phone Number</label>
  <input id="new-contact-phone" name="new-contact-phone" type="text">

  <label for="new-contact-address">Phone Address</label>
  <input id="new-contact-address" name="new-contact-address" type="text">

  <button type="Submit"</button>

</form>
